/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700;800&family=Merienda:wght@300;400;700;900&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  overflow: hidden;
  font-size: 62.5%;
}
body {
  background: #3a1954;
  font-family: "Rubik", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  -webkit-perspective: 1px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
body aside.parallax {
  width: 100vw;
  height: 100vh;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}
body aside.parallax:after {
  background-image: url("/img/bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  content: "";
  transform: translateZ(-1px) scale(2);
  -webkit-transform: translateZ(-1px) scale(2);
}
body header h1 {
  text-align: center;
  margin: 0px;
  font-family: "Merienda", cursive;
  font-size: clamp(2.93rem, 2.1vw + 2.19rem, 7.58rem);
  font-weight: 800;
  color: rgba(255, 255, 255, 0.7);
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main.content-outer {
  background-color: #3a1954;
  perspective: 2px;
  -webkit-perspective: 2px;
}
@media (min-width: 769px) {
  body main div.content-inner {
    width: 50%;
  }
}
@media (max-width: 768px) {
  body main div.content-inner {
    width: 80%;
  }
}
body main .content-inner {
  color: #ebd9d7;
  line-height: 1.4em;
  margin: 0 auto;
  display: block;
}
body main .content-inner p {
  font-size: clamp(1.2rem, 0.54vw + 1rem, 2.4rem);
  line-height: 2em;
  margin: 0.8em 0;
}
body main .content-inner header {
  display: flex;
  gap: 1.2em;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.5rem, 0.77vw + 1.23rem, 3.2rem);
  margin: 3em 0 4em 0;
}
body main .content-inner header:hover .portrait {
  box-shadow: 0 0 20px hsla(43deg, 80%, 82%, 0.8);
}
body main .content-inner header .portrait {
  width: 6.5em;
  height: 6.5em;
  border: 0.3em solid #f8e6a9;
  border-radius: 50%;
  background-image: url("/img/myProfessionalPicture.png");
  background-size: cover;
  transition: box-shadow 300ms;
}
body main .content-inner header h2 {
  font-family: "Assistant", sans-serif;
  font-size: clamp(1.5rem, 0.77vw + 1.23rem, 3.2rem);
  font-weight: 500;
  line-height: 1.25em;
  color: #e7bade;
  transition: text-shadow 300ms;
}
body main .content-inner header h2 strong {
  font-family: "Merienda", cursive;
  font-size: 1.5em;
  color: #c744c7;
  font-weight: 700;
}
body main .content-inner #portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3em 3em;
  margin: 0 0 4em 0;
}
body main .content-inner #portfolio div#pic-div1 {
  grid-column: 1/2;
  grid-row: 1/3;
}
body main .content-inner #portfolio div#pic-div2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
body main .content-inner #portfolio div#pic-div3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
body main .content-inner #portfolio div#pic-div4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
body main .content-inner #portfolio div#pic-div5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}
body main .content-inner #portfolio div#pic-div6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
body main .content-inner #portfolio div article {
  padding: 1.7em;
  border-radius: 2px;
  transition: all ease-in-out 500ms;
  color: hsla(15deg, 40%, 98%, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}
body main .content-inner #portfolio div article#pic1 {
  background: url("/img/01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body main .content-inner #portfolio div article#pic2 {
  background: url("/img/02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body main .content-inner #portfolio div article#pic3 {
  background: url("/img/03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body main .content-inner #portfolio div article#pic4 {
  background: url("/img/04.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body main .content-inner #portfolio div article#pic5 {
  background: url("/img/05.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body main .content-inner #portfolio div article#pic6 {
  background: url("/img/06.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body main .content-inner #portfolio div article h4 {
  font-family: "Assistant", sans-serif;
  font-size: clamp(1.5rem, 0.77vw + 1.23rem, 3.2rem);
  line-height: 1.2em;
  margin: 1em 0 0.5em 0;
}
body main .content-inner #portfolio div article p {
  font-size: clamp(0.96rem, 0.38vw + 0.83rem, 1.8rem);
  margin: 1em 0;
  line-height: 2em;
}
body main .content-inner #portfolio div article:hover {
  transform: scale(1.05);
  color: #ffffff;
  box-shadow: 0 10px 20px -10px rgb(0, 0, 0);
}
body .btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  margin: 2em auto 3em auto;
  font-family: "Assistant", sans-serif;
}
@media (min-width: 951px) {
  body .btn {
    font-size: clamp(1.5rem, 0.77vw + 1.23rem, 3.2rem);
  }
}
@media (max-width: 950px) {
  body .btn {
    font-size: clamp(1.88rem, 1.08vw + 1.5rem, 4.26rem);
  }
}
body .btn.learn-more {
  width: 10em;
  height: auto;
}
body .btn.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 1.65em;
  height: 1.65em;
  background: #f8e6a9;
  border-radius: 1.625rem;
}
body .btn.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #934394;
}
body .btn.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
body .btn.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #3a1954;
  border-right: 0.125rem solid #3a1954;
  transform: rotate(45deg);
}
body .btn.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0 0 0 1.2em;
  color: #f8e6a9;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
body .btn:hover .circle {
  width: 100%;
  background: #f8e6a9;
  box-shadow: 0 0 15px hsla(43deg, 80%, 82%, 0.6);
}
body .btn:hover .circle .icon.arrow {
  background: #3a1954;
  transform: translate(1em, 0);
}
body .btn:hover .button-text {
  color: #3a1954;
}
body h3 {
  font-size: clamp(2.34rem, 1.51vw + 1.81rem, 5.68rem);
  font-family: "Assistant", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin: 2em 0;
}
body h3:hover {
  text-shadow: 0 0 10px hsla(43deg, 80%, 82%, 0.8);
}
body footer {
  font-size: clamp(0.96rem, 0.38vw + 0.83rem, 1.8rem);
  color: #ebd9d7;
  padding-bottom: 3em;
}
@media (max-width: 950px) {
  body footer {
    padding-bottom: 6em;
  }
}
body footer .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: clamp(1.88rem, 1.08vw + 1.5rem, 4.26rem);
  gap: 1em;
  list-style: none;
  margin-bottom: 1em;
}
body footer .icons .icon {
  transition: all ease-in-out 250ms;
  color: #c682e4;
}
body footer .icons .icon:hover {
  color: #f8e6a9;
  transform: scale(1.2);
  filter: drop-shadow(0 0 10px #c682e4);
}
body footer strong {
  font-size: 1.1em;
}
body footer strong a {
  color: rgba(0, 0, 0, 0);
  padding-bottom: 0.1em;
  background: linear-gradient(90deg, #f8e6a9 50%, #c744c7 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(#f8e6a9 0 0) 0% 100% / var(--_p, 0%) 0.1em no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
  cursor: pointer;
}
body footer strong a:hover {
  --_p: 100%;
  text-shadow: 0 0 10px hsla(43deg, 80%, 82%, 0.8);
}
body footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
body footer ul li {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 0.25em;
  margin: 0.25em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
