@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import "./vars.scss";

.fade-in {
  /* Add a transition to the opacity property */
  transition: opacity 0.3s;
  /* Set the initial opacity to 0 */
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
}

.fade-in.visible {
  /* When the element is visible in the viewport, set the opacity to 1 */
  opacity: 1;
}

body {
  section>p {
    color: white;
    line-height: 1.8em;
    margin-bottom: 1.6em;

    &:first-of-type {
      margin-top: 1.6em;
    }
  }

  section>h2 {
    color: white;
  }

  footer>p {
    color: white;
  }
}

body,
main,
footer {
  background-color: #3a1954;
}

#navigation-bar {
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s;
}

nav.navbar {
  background: hsla(271, 76%, 60%, .65);

  a {
    color: white;
    font-family: $display-font-family;
    font-weight: 700;
    font-size: 2.2rem;
    transition: all ease-in 200ms;

    &:active {
      color: white;
    }

    &:hover {
      color: white;
      // color: #f8e6a9;
      text-shadow: #f8e6a9 0 0 25px, #fff 0 0 5px;
    }

    &.nav-link.active {
      color: white;

      &:hover {
        text-shadow: none;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  #navigation-bar.scrolled {
    background-color: #c482e6;
  }

  #navigation-bar.hidden {
    top: -5.3rem;
  }
}


main {
  z-index: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
}

h1.display-1 {
  font-family: $display-font-family;
  font-weight: 700;
  color: white;
}

section {
  margin-bottom: 6em;

  &:first-of-type {
    margin-bottom: 1em;
  }
}

#portrait {
  width: 6.5em;
  height: 6.5em;
  border: 0.3em solid #f8e6a9;
  border-radius: 50%;
  background-image: url("/img/myProfessionalPicture.png");
  background-size: cover;
  transition: box-shadow 300ms;
}

#home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  h1 {
    position: absolute;
  }
}

.parallax__container {
	clip: rect(0, auto, auto, 0);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -100;
}

.parallax {
	position: fixed;
	top: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 100%;
  background-image: url("/img/bg.png");

	/* BG behaviour */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}