@import "./vars.scss";

:root {
  --header-font: "Raleway", sans-serif;
  --base-font: "Montserrat", sans-serif;
  --display-font: "Amatic SC", cursive;

}

body {
  background-color: #3a1954;
  font-size: 1.3rem;

  section>p {
    color: white;
    line-height: 1.8em;
    margin-bottom: 1.6em;

    &:first-of-type {
      margin-top: 1.6em;
    }
  }

  section>strong,
  section>span,
  section>h2,
  footer>p {
    color: white;
  }
}

section {
  margin-bottom: 6em;

  &:first-of-type {
    margin-bottom: 1em;
  }
}

#navigation-bar {
  top: 0;
  left: 0;
  right: 0;
  transition: text-shadow ease 300ms;
  transition: background ease-in-out 500ms;
  background: hsla(271, 76%, 60%, .35);

  a {
    color: white;
    font-family: var(--display-font);
    font-weight: 700;
    font-size: 2.2rem;
    transition: all ease-in 200ms;

    &:active,
    &:focus {
      color: white;
    }

    &:hover {
      color: white;
      text-shadow: #f8e6a9 0 0 25px, #fff 0 0 5px;
    }

    &.nav-link.active {
      color: white;

      &:hover {
        text-shadow: none;
      }
    }
  }

  .nav-pills {
    --bs-nav-pills-link-active-bg: #bd87c9;
  }
}

@media screen and (min-width: 800px) {
  #navigation-bar.scrolled {
    background-color: #bd87c9;

    .nav-pills {
      --bs-nav-pills-link-active-bg: #91179f;
    }
  }

  #navigation-bar.hidden {
    top: -5.3rem;
  }
}

#home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  .parallax {
    height: 100vh !important;
    width: 100%;
  }

  h1 {
    position: absolute;
  }
}

header h1 {
  font-family: var(--display-font);
  font-weight: 700;
  color: white;
}

main {
  z-index: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  font-weight: 900;
}

#resume {
  .btn {
    padding: .75rem 2rem;
  }
}

#profile {
  strong {
    font-family: var(--header-font);
    font-weight: 400;
    font-size: 2.3rem;
    margin: 0;
    padding: 0;
  }

  span {
    display: block;
    font-family: var(--display-font);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1;
    color: white;
  }

  #portrait {
    width: 6.5em;
    height: 6.5em;
    border: 0.3em solid #f8e6a9;
    border-radius: 50%;
    background-image: url("/img/profilepic.png");
    background-size: cover;
  }
}

#blog {
  a {
    text-decoration: none;
    transition: transform 200ms ease;

    h5 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }

  a:hover {
    transform: translateY(-5px);
  }
}

footer {
  font-size: 1rem;
  padding: 0 0 2rem 0;

  p {
    margin: 0;
  }
}

.parallax__container {
  clip: rect(0, auto, auto, 0);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -100;
}

.parallax {
  position: fixed;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
  /* BG behaviour */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fade-in {
  /* Add a transition to the opacity property */
  transition: opacity 0.3s;
  /* Set the initial opacity to 0 */
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
}

.fade-in.visible {
  /* When the element is visible in the viewport, set the opacity to 1 */
  opacity: 1;
}


.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #91179f;
  --bs-btn-border-color: #91179f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c745c7;
  --bs-btn-hover-border-color: #c745c7;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #91179f;
  --bs-btn-active-border-color: #91179f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #91179f;
  --bs-btn-disabled-border-color: #91179f;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #c745c7;
  --bs-btn-border-color: #c745c7;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #91179f;
  --bs-btn-hover-border-color: #91179f;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #c745c7;
  --bs-btn-active-border-color: #c745c7;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #c745c7;
  --bs-btn-disabled-border-color: #c745c7;
}