$font-family-base: "Montserrat", sans-serif;
$display-font-family: "Amatic SC", cursive;
$header-font-family: "Raleway", sans-serif;

// $primary: #410754;
// $secondary:;
// $success:;
// $info:;
// $warning:;
// $danger:;
// $light:;
// $dark:;


// $theme-colors: (
//   "primary":    $primary,
// "secondary":  $secondary,
// "success":    $success,
// "info":       $info,
// "warning":    $warning,
// "danger":     $danger,
// "light":      $light,
// "dark":       $dark
// );