$background-color: hsl(266, 60%, 26%);
$contact-card-bg: #3d1b6a;
$button-box-shadow: 0 0em 1em -0.5em rgba(255, 255, 255, 0.4);
$button-hover-box-shadow: 0 0.4em 1.1em -0.3em rgba(248, 230, 169, 1);
$button-element-spacing-vertical: 1.2rem;
$button-element-spacing-horizontal: 2.6rem;
$button-font-size: 2.4rem;
$transition: 650ms ease-in-out;
$button-text-color: #d3dbe2;

body {
  background: center / cover fixed url('/assets/img/bg.webp'), $background-color;
}

body,
main,
section,
ul,
nav,
li {
  display: flex !important;
}

section,
ul {
  flex-direction: column;
}

main,
section,
ul {
  align-items: center;
}

main,
li {
  justify-content: center;
}

// aside,
// nav,
// ul,
li,
li a {
  width: 100%;
}

h1,
h2,
ul,
li,
nav {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

header, aside {
  margin-top: 0.75em;
  margin-bottom: 0;
}

h1 {
  margin-top: 0.3em;
  margin-bottom: 0;
  font-family: var(--cousine);
  text-align: center;
  font-size: var(--header-font-size);
  letter-spacing: .005em;
  i {
    font-family: var(--karla);
    font-style: normal;
    font-size: 1.2em;
    margin-right: .1em;
  }
}

h2 {
  margin-top: 0;
  margin-bottom: 0.75em;
  font-family: var(--amatic-sc);
  text-align: center;
  font-size: var(--subheader-font-size);
  letter-spacing: .04rem;

}

.profile-image {
  border: 5px solid #f8e4aa;
  background-color: #f8e4aa;
  border-radius: 50%;
  overflow: hidden;
  width: calc(15rem + 1vw);
  aspect-ratio: 1 / 1;

  img {
    width: 100%;
    height: auto;
  }
}

nav {
  ul {
    row-gap: .4em;
    [role="button"] {
      font-size: $button-font-size !important;
      padding:  $button-element-spacing-vertical
      $button-element-spacing-horizontal;
    }
  }
}
